body {
	text-align: center;
	margin: 10em;
	color: #fff;
}

.spinner {
	height: 200;
	width: 100%;
	text-align: center;
}

.bluebody {
  background-color: #0176A0;
  background-image: -moz-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
  background-image: radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= 
                         '#029CC9', endColorstr=       '#005077', GradientType= 
                     0 );
}
